body {
	font-family: Times, Times-Roman, Times New Roman, serif;
	font-size: 1.8em;
	margin: 2.25em;
}

h1 {
	font-size: .9em;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 2em;
	letter-spacing: .01em;
}

strong {
	background-color: white; 
	font-weight: normal;
	color: #3a3a3a;
}

span {
	background-color: black;
}

span::selection {background-color: #e2e2e2;}
strong::selection {background-color: #e2e2e2;}

img {
	width: 150px;
}

.crest {
	text-align: center;
}